#displayDate
{
	font-size: 105%;
	text-align: center;
	padding: 7px 0px;
}
.col1 {
	float: left;
	margin-right: 8px;
	margin-left: 8px;
	min-height: 300px;
}
.col2 {
	min-height: 300px;
	margin-right: 0px;
	margin-left: 12px;
	float: left;
	max-width: 340px;
	height: auto;
}
.col {
	float: left;
	margin-right: 20px;
	min-height: 300px;
}
.hidden-stats {
	height: 0;
	display:none;
}
.shown-stats {
	/* -webkit-transition: all .5s ease-in; 
	-o-transition: all .5s ease-in; 
	-moz-transition: all .5s ease-in; 
	transition: all .5s ease-in; 
	*/
	height: 0;
}

.mapNavCon {
	height:135px;
	width:960px;
	margin-bottom:10px;
}
.mapNavLeft {
	float: left;
}
.mapNavRight {
	float: right;
}
.mapNavLeft, .mapNavRight{
	width: 38px;
	height: 133px;
	background-color:#236;
	border-radius: 0px 25px 6px 0px;
	vertical-align: middle;
	text-align:center;
	line-height: 126px;
	text-decoration: none;
	background-color: #262631;
	font-size:200%;
	border-radius: 5px;
	border: 1px solid #333;
	cursor: auto;
}
.mapNavActive {
	cursor: pointer;
}
.mapNavActive:hover {
	background-color: #343c57;
}
.mapNavActive:active {
	background-color: #555588;
}
.mapNavDisabled {
	background-color: #222223;
	cursor: default;
}
.mapNavCenter {
	float:left;
	height:135px;
	width:840px;
	margin-left:20px;
	margin-right:20px;
	background-color:#222223;
	border-radius: 15px;
	white-space: nowrap;
	overflow-x:hidden;
	overflow-y:hidden;
}
#mapNavigation {
	margin-left: 75px;
	padding:1px;
	white-space: nowrap;
	overflow-x:hidden;
	overflow-y:hidden;
}

.scoreCol {
	min-height:500px;
	min-width:325px;
	float:left;
}
.mapCol {
	min-height:500px;
	float:left;
	margin-left: 7px;
	max-width:500px;
}

.mapThumbnailOuter {
	border:0px;
	margin:4px;
	float:left;
	min-width:120px;
	border-radius:10px;
}
.mapThumbnailOuter.selectedMap {
	/* Make sure border-width + margin == .mapThumbnailOuter margin */
	border:2px;
	margin:2px;
	border-color: #868AA8;
	border-style: solid;
}
.mapThumbnail {
	display:inline-block;
	padding: 8px;
	background-color:#334;
	border-radius:10px;
	cursor:pointer;
	padding-top: 0px;
}
.mapThumbnail:hover {
	background-color:#445;
}
.mapThumbnail.currentlyRunning {
	background-color: #373737;
    color: #CCCCCC;
}
.mapThumbnail.currentlyRunning:hover {
	background-color:#474747;
}
#currentlyRunningMessage {
    color: #FF2818;
    display: none;
    text-align: center;
	padding-bottom: 12px;
}

#currentlyRunningMessage span {
    background-color: #1A1A1A;
    border-radius: 8px 8px 8px 8px;
    padding: 3px 10px;
}


table {
	border-collapse: collapse;
}
td, th {
	padding: 3px;
}

.leaderboardHeaders .leaderboardHeadersRank,
.leaderboardHeaders .leaderboardHeadersName,
.leaderboardHeaders .leaderboardHeadersMoves,
.leaderboardHeaders .leaderboardHeadersTime
{
	border:1px solid #ccc;
}

.leaderboardHeaders .leaderboardHeadersRank { width: 40px; }
.leaderboardHeaders .leaderboardHeadersName,
.leaderboardName
{
	max-width: 140px;
	text-overflow: ellipsis;
	overflow: hidden;
}
.leaderboardHeaders .leaderboardHeadersMoves { width: 45px; }
.leaderboardHeaders .leaderboardHeadersTime { width: 85px; }

.lbrow {
	/* Temporary adjust for font changes */
	font-size:105%;
	background: #000;
	transition:background .5s;
	-webkit-transition:background .5s;
	-o-transition:color .5s;
	-moz-transition:color .5s;
	cursor: default;
}
.lbrow:hover {
	background: #356;
	transition:background 0s;
	-webkit-transition:background 0s;
	-o-transition:color 0s;
	-moz-transition:color 0s;
}

.leftBtn {
	left:0px;
}
.rightBtn {
	right:0px;
}
.leftBtn, .rightBtn, rightBtn a {
	text-align:center;
	text-decoration: none;
	position:absolute;
	top:65px;
	width:50px;
	background-color: #262631;
	font-size:200%;
	height:290px;
	line-height:270px;
	border-radius: 5px;
	border: 1px solid #333;
}
.scoreActive:hover {
	background-color: #343c57;
}
.scoreActive:active {
	background-color: #555588;
}
.scoreDisabled {
	background-color: #222223;
}
.scoreContainer2 {
	width:475px;
	height:500px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

.membersList {
	width:850px;
}


.scoreRight{
	float:right;
	margin: 5px;
}
.scoreLeft{
	float:left;
	margin: 5px;
}


.scoreRow1 {
	background-color:#262631;
}
.scoreRow2 {
	background-color:#20202a;
}
.scoreRowSelf {
	background-color: #343c57;
}
.solutionSelected {
	background-color: #646470;
}

.scoreRowSolutionAvailable {
	/* Temporary adjust for font changes */
	font-size:105%;
	transition:background .5s;
	-webkit-transition:background .5s;
	-o-transition:color .5s;
	-moz-transition:color .5s;
	cursor: default;
}
.scoreRowSolutionAvailable:hover {
	background-color: #535D85;
	transition:background 0s;
	-webkit-transition:background 0s;
	-o-transition:color 0s;
	-moz-transition:color 0s;
	cursor: pointer;
}
.scoreMedal {
	text-align:right;
}
.scoreMedal img {
	width:32px;
	height:32px;
	vertical-align:middle;
}
.scoreGold {
	background-image: url(../images/MedalGoldCAb.png);
}
.scoreSilver {
	background-image: url(../images/MedalSilverCAb.png);
}
.scoreName {
	float:left;
	padding: 5px 0px 3px 3px;
	width:120px;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
}
.memberName {
	float:left;
	padding: 5px 0px 3px 3px;
	width:175px;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
}
#membersPerPage {
	margin:25px;
}

.membersList .display {
	width:175px;
	overflow:hidden;
	text-align:left;
	padding-left:42px;
}

.myPoints
{
	text-align: center;
	color: #00DDFF;
}

.myPoints .myPointsValue
{
	font-weight: bold;
}